body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.container {
  display: flex;
  border: 1px solid red;
  width: 960px;
  height: 960px;
  margin-left: auto;
  margin-right: auto;
}
