body {
  border: 0;
  padding:0;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}

h1{
  text-align: center;
}

#parentDiv {
  margin: 0;
  border: 0px;
  padding: 0px;
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: azure;
}

.flexGrid {
  width: 25px;
  height: 25px;
}
.colorSquare {
  background: black;
}
